<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://notabug.org/tizen/mapo" version="1.0" viewmodes="fullscreen">
    <author href="https://notabug.org/tizen/mapo" email="rzr@gna.org">Philippe Coval</author>
    <content src="index.html"/>
    <name>Mapo</name>
<description>Mapo is a geolocation application for the Tizen OS, developed with HTML5/CSS3 an jQuery.

http://notabug.org/tizen/mapo

This application is under GPL-3.0p license.</description>
    <icon src="icon.png"/>

    <license href="https://spdx.org/licenses/GPL-3.0+">GPL-3.0+</license>
</widget>
